
#main {
    background-color: #F5F5F5;
    font-family: sans-serif;
}

h1 {
    padding-top: 3rem;
    font-size: 2.5rem;
}

#title,
#img-div,
#tribute-info,
#timeline-header  {
    text-align: center;
}

#img-div {
    background-color: white;
    padding: 2rem;
    padding-bottom: .5rem;
    margin: 1rem;
}

#image {
    max-width: 90%;
    display: block;
    height: auto;
    margin: 0 auto;
}

#timeline {
    font-size: 1rem;
    margin: 0 auto;
    text-align: left;
    max-width: 600px;
}

#timeline-list {
    line-height: 3;
    padding: 2rem;
}


#quote {
    margin-bottom: 3rem;
    font-style: italic;
}

h2 {
    font-size: 1.2rem;
    margin: 4rem;
}



